@model IEnumerable<Ugani_Restaurant.Models.BANAN>
@{ 
    var user = User.Identity.Name;
    var isAdmin = User.IsInRole("Admin");
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            MA BAN
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LOAIKHONGGIAN.TENLOAIKHONGGIAN)
        </th>
        @if (isAdmin)
        {
            <td>Tác vụ</td>
        }
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.MABAN)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LOAIKHONGGIAN.TENLOAIKHONGGIAN)
    </td>
    @if (isAdmin)
    {
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.MABAN }, new {@class="btn btn-primary" }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.MABAN }, new { @class = "btn btn-danger" })
    </td>
    }
    
</tr>
}

</table>
