@model IEnumerable<Ugani_Restaurant.Models.HOADON>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUser.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NGAYLAPHD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TONGTIEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TINHTRANG)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUser.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NGAYLAPHD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TONGTIEN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TINHTRANG)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.MAHD }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Xác nhận", "Confirm", new { id = item.MAHD }, new { @class = "btn btn-danger btn-confirm", @data_toggle = "modal", @data_target = "#modalConfirm", @data_id = item.MAHD })
            </td>
        </tr>
    }

</table>

<!-- Modal -->
<div class="modal fade" id="modalConfirm" tabindex="-1" aria-labelledby="modalConfirmLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalConfirmLabel">Xác nhận</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modalConfirmContent">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Quay lại</button>
                <button type="button" class="btn btn-primary" id="btn-confirm-submit">Xóa</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script>
    $(function () {
        var id = '';
        $('.btn-confirm').click(function (e) {
            e.preventDefault();
            id = $(this).data('id');
            var url = $(this).attr('href');
            $.post(url, { id: id }, function (data) {
                $('#modalConfirmContent').html(data);
                $('#modalConfirm').modal('show');
            });
        });

        // Gọi hàm xử lý sự kiện click từ button khác
        $('#btn-confirm-submit').click(function (e) {
            $.ajax({
                type: 'GET',
                url: '/Admin/HOADONs/ConfirmSubmit',
                data: { CatId: id },
                success: function (response) {
                    window.location.reload();
                }
            });
        });
    });


</script>
