@model IEnumerable<Ugani_Restaurant.Models.BANAN>

@{
    ViewBag.Title = "Index";
    Layout =null;
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LOAIKHONGGIAN.TENLOAIKHONGGIAN)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LOAIKHONGGIAN.TENLOAIKHONGGIAN)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MABAN }) |
            @Html.ActionLink("Details", "Details", new { id=item.MABAN }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MABAN })
        </td>
    </tr>
}

</table>
