@model IEnumerable<Ugani_Restaurant.Models.HOADON>

@{
    ViewBag.Title = "ListBill";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-auto">
    <h3 class="text-center mt-3">DANH SÁCH ĐƠN HÀNG</h3>
    <table class="table">
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.NGAYLAPHD)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.TONGTIEN)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.TINHTRANG)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.NGAYLAPHD)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.TONGTIEN)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.TINHTRANG)
        </td>
        <td class="text-center">
            @Html.ActionLink("Xem chi tiết", "DetailsBill", new { id = item.MAHD }, new { @class = "btn btn-primary" })
            @{
                if (item.TINHTRANG != "Đã duyệt")
                {
                    @Html.ActionLink("Xóa", "Delete", new { id = item.MAHD }, new { @class = "btn btn-danger" })
                }
            }
        </td>
    </tr>
        }

    </table>
</div>
