@model Ugani_Restaurant.Models.ChangePasswordViewModel


<h3 class="text-center mt-4">Đổi mật khẩu</h3>

<div class="container">
    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group my-1">
            <label class="col-md-2 control-label my-1">Mật khẩu cũ</label>
            <div class="my-1">
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group my-1">
            <label class="col-md-2 control-label my-1">Mật khẩu mới</label>
            <div class="my-1">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group my-1">
            <label col-md-2 control-label>Xác nhận mật khẩu</label>
            <div class="my-1">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group my-2">
            <div class="col-md-offset-2  d-flex flex-column align-items-center justify-content-center">
                <input type="submit" value="Thay đổi" class="btn btn-primary" />
            </div>
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}