@model Ugani_Restaurant.Models.IndexViewModel
@using Ugani_Restaurant.Models
@{
    ViewBag.Title = "Manage";
    AspNetUser aspNetUser = ViewBag.Account;
}


<p class="text-success">@ViewBag.StatusMessage</p>
<div class="container border-1 rounded-2">
    <h4>Thông tin tài khoản</h4>
    <hr />
    <p><span class="fw-bold">Họ và tên: </span>@aspNetUser.FullName</p>
    <p><span class="fw-bold">Số điện thoại: </span>@aspNetUser.PhoneNumber</p>
    <p><span class="fw-bold">Email: </span>@aspNetUser.Email</p>
    @Html.ActionLink("Đổi mật khẩu", "ChangePassword", null, new { @class = "btn btn-primary text-center" })
</div>
